spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql:///farmatodo?cloudSqlInstance=prueba-farmatodo-478406:us-central1:farmatodo-postgres&socketFactory=com.google.cloud.sql.postgres.SocketFactory
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 2
      minimum-idle: 1
      connection-timeout: 30000
      initialization-fail-timeout: -1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

app:
  api-key: ${API_KEY:test-api-key-12345}
  token-rejection-probability: ${TOKEN_REJECTION_PROBABILITY:0.1}

logging:
  level:
    com.farmatodo: DEBUG
    org.springframework.web: INFO
