spring:
  application:
    name: customer-service

  datasource:
    url: jdbc:postgresql:///farmatodo?cloudSqlInstance=prueba-farmatodo-478406:us-central1:farmatodo-postgres&socketFactory=com.google.cloud.sql.postgres.SocketFactory
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 2
      minimum-idle: 1
      connection-timeout: 30000
      initialization-fail-timeout: -1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    gcp:
      sql:
        enabled: false   # Para evitar que la autoconfig de Spring Cloud GCP moleste

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.farmatodo: DEBUG
